{% load static %}
{% load_crispy_form_tags %}
{% include 'navbar.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% Static 'css/stylesheet.css' %}">

    <link rel="stylesheet" href="{% Static 'jss/jquery-ui-1.14.1/jquery-ui-1.14.1/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% Static 'jss/jquery-ui-1.14.1/jquery-ui-1.14.1/jquery-ui.structure.min.css' %}">
    <link rel="stylesheet" href="{% Static 'jss/jquery-ui-1.14.1/jquery-ui-1.14.1/jquery-ui.theme.min.css' %}">

    <script src="{% Static 'jss/jquery-3.7.1.min.js' %}"></script>
    <script src="{% Static 'jss/jquery-ui-1.14.1/jquery-ui-1.14.1/jquery-ui.js' %}"></script>
    <script src="{% Static 'jss/myjs.js %'}"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Invoices</title>
</head>
<body>
    {{title}}<br>
    {% if messages %}
        <ul class="messages">
            { % for message in messages % }
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            { % endfor %}
        </ul>
    {% endif %}
    <div class="myForm">
        <form action="" method="post">{% csrf_token %} {{form | crispy}}
            <input type="submit" value="Search">
        </form>
    </div>
    <br>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>S/N</th>
                <th>DATE</th>
                <th>CUSTOMER NAME</th>
                <th>INVOICE NUMBER</th>
                <th>TOTAL</th>
                <th>DELETE</th>
            </tr>
        </thead>
        {% for instance in queryset %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{instance.invoice_date}}</td>
            <td><a href="{% url 'update_invoice' instance.id %}">{{instance.name}}</a></td>
            <td>{{instance.invoice_number}}</td>
            <td>{{instance.total}}</td>
            <td><a href="{% url 'delete_invoice' instance.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>