{% load static %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
</head>
<!DOCTYPE html>
{% include 'navbar.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Invoices</title>
</head>
<body>
    {{title}}
    {{form}}
    <br>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>S/N</th>
                <th>DATE</th>
                <th>CUSTOMER NAME</th>
                <th>INVOICE NUMBER</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        {% for instance in queryset %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{instance.invoice_date}}</td>
            <td>{{instance.name}}</td>
            <td>{{instance.invoice_number}}</td>
            <td>{{instance.total}}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>